<a href="https://colab.research.google.com/github/johntanas/it1244project/blob/main/code/label.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
onlinedataset=True
if onlinedataset:
  url = "https://drive.google.com/file/d/1TBcW6O9KMRMh9CWf36OIjZwvY-qzH1VS/view?usp=sharing"
  url='https://drive.google.com/uc?id=' + url.split('/')[-2]
  credit_record=pd.read_csv(url,index_col=0)
else:
  pathtodataset="./content/application.csv"
  app_df=pd.read_csv(pathtodataset,index_col=0)

In [5]:
credit_record

              id  month_bal status
0        5001711          0      X
1        5001711         -1      0
2        5001711         -2      0
3        5001711         -3      0
4        5001712          0      C
...          ...        ...    ...
1048570  5150487        -25      C
1048571  5150487        -26      C
1048572  5150487        -27      C
1048573  5150487        -28      C
1048574  5150487        -29      C

[1048575 rows x 3 columns]

In [6]:
credit_record["month_bal"].unique(),credit_record["status"].unique()

(array([  0,  -1,  -2,  -3,  -4,  -5,  -6,  -7,  -8,  -9, -10, -11, -12,
        -13, -14, -15, -16, -17, -18, -19, -20, -21, -22, -23, -24, -25,
        -26, -27, -28, -29, -30, -31, -32, -33, -34, -35, -36, -37, -38,
        -39, -40, -41, -42, -43, -44, -45, -46, -47, -48, -49, -50, -51,
        -52, -53, -54, -55, -56, -57, -58, -59, -60]),
 array(['X', '0', 'C', '1', '2', '3', '4', '5'], dtype=object))

We define a good label as a person not having >1 month of no loan payment

In [7]:
good_records=["X","0","C"]

In [8]:
label_df=credit_record.groupby("id").apply(lambda x: all(x["status"].isin(good_records)))

In [9]:
ids=pd.DataFrame({"label":label_df}).reset_index()

In [10]:
ids["label"]=ids["label"].apply(lambda x:int(x))

In [11]:
ids

            id  label
0      5001711      1
1      5001712      1
2      5001713      1
3      5001714      1
4      5001715      1
...        ...    ...
45980  5150482      1
45981  5150483      1
45982  5150484      1
45983  5150485      1
45984  5150487      1

[45985 rows x 2 columns]

In [12]:
ids.to_csv("labels.csv")